; core variables
[core]
    ; Prenvent LF to CRLF eol conversion
    eol = lf
    autocrlf = input

    editor = code

; user variables
[user]
    ; Who am i?
    name = "Juliana Demarque"
    email = dev@demarque.com.br
