@import url('./variables.css');
@import url('./typography.css');
@import url('./brand-header.css');
@import url('./user-avatar.css');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--white);
}

a {
  color: var(--link-color);
  text-decoration: var(--anchor-underline, none);
}

a:hover {
  color: var(--hover-color);
}

.max-width-container {
  max-width: var(--max-container-width);
  width: 100%;
  padding: 0 2rem;
}
