.circle {
  --background-color: var(--primary-color);
  --diameter: 1.6rem;
  --foreground-color: var(--white);

  width: var(--diameter);
  height: var(--diameter);
  background-color: var(--background-color);
  border-radius: 50%;
}

.circle::before {
  display: block;
  height: 100%;
  content: var(--content);
  color: var(--foreground-color);
  line-height: var(--diameter);
  text-align: center;
}

.pill {
  --background-color: var(--white);
  --foreground-color: var(--primary-color);

  display: inline-block;
  padding: 1.2rem 1.6rem;
  background-color: var(--background-color);
  border: var(--pill-border);
  border-radius: var(--pill-radius);
  box-shadow: var(--default-box-shadow);
  color: var(--foreground-color);
  font-size: 1.2rem;
  font-weight: var(--font-weight--bold);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
