.user-avatar {
  --avatar-size: 3.2rem;

  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.user-avatar__image {
  --diameter: var(--avatar-size);
}

.user-avatar__image::before {
  --content: attr(data-user-initials);
}

.user-avatar__name {
  padding-left: 1rem;
}
